// you can change colors here
.vp-blog-hero-description{
  font-weight: 800;
  color: red;
  font-family: "Ma Shan Zheng", cursive;
  font-size: 35px;
//  #E77886
}
.vp-blog-hero-title{
  color: #E77886;
}
